// Bulma colors
@import "~bulma/sass/utilities/initial-variables";

// Bulma Colors
$primary: $turquoise;
$danger: rgb(241, 76, 76);
$success: rgb(80, 175, 115);
$warning: $yellow;
$info: $cyan;
$link: $blue;
$white: $white;
$black: $black;
$light: $white-ter;
$dark: $grey-darker;
$violet: rgb(128, 82, 207);
$orange: rgb(255, 162, 40);

// Global colors

$bg-color: rgb(250, 250, 250);
$font-color: $danger;
