@import 'colors';
@import 'mixins';

body {
  background-color: $bg-color;
}

// ----- Utility -----
.small-padding {
  padding: 8px;
}

// ----- Bulma -----
$colors: (
    "primary": ($primary, $primary-invert),
    "success": ($success, $success-invert)
);

// Import Bulma
@import "~bulma";
@import "~buefy/src/scss/buefy";
