@import 'colors';

body {
  background-color: $bg-color;
}

// ----- Utility -----
.small-padding {
  padding: 8px;
}

// ----- Bulma -----
$colors: (
    "primary": ($primary, $primary-invert)
);

// Import Bulma
@import "~bulma";
@import "~buefy/src/scss/buefy";
